hr {
  display: inline-block;
  height: 1px;
  width: 100px;
  border: 0;
  border-bottom: 1px solid #fff;
  padding-right: 0;
}

/* Main CSS file for DXP.ae */
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('/assets/font/NunitoSans-Bold.woff2') format('woff2'),
         url('/assets/font/NunitoSans-Bold.woff') format('woff'),
         url('/assets/font/NunitoSans-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('/assets/font/NunitoSans-SemiBold.woff2') format('woff2'),
         url('/assets/font/NunitoSans-SemiBold.woff') format('woff'),
         url('/assets/font/NunitoSans-SemiBold.ttf') format('truetype');
    font-weight: semibold;
  }
  @font-face {
    font-family: 'NunitoSans-Light';
    src: url('/assets/font/NunitoSans-Light.woff2') format('woff2'),
         url('/assets/font/NunitoSans-Light.woff') format('woff'),
         url('/assets/font/NunitoSans-Light.ttf') format('truetype');
    font-weight: light;
  }

  .text-7xl {
    font-size: 5rem;
  }
  @media only screen and (max-width: 600px) {
    .text-7xl {
      font-size: 3.75rem;
    }
  }

  .text-8xl {
    font-size: 6.5rem;
  }
  @media only screen and (max-width: 600px) {
    .text-8xl {
      font-size: 3.75rem;
    }
  }

 .nunito-bold {
    font-family: NunitoSans-Bold;
  }
  .nunito-semibold {
    font-family: NunitoSans-SemiBold;
  }
  .nunito-light {
    font-family: NunitoSans-Light;
  }

  .bg-test {
      background-image: url(/assets/video/Showreel-sample.gif);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: -webkit-fill-available;
      min-height: 100vh;
  }

  .bg-showreel {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* SwiperJS */
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  /* .swiper-slide {
    width: 100vw !important;
    height: 100vh !important;
  } */

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } */

  .swiper-slide video {
    min-height: 100vh !important;
    max-width: auto !important;
  }

  .swiper-pagination {
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.25rem;
    color:#fff;
    opacity: 0.5;
    font-weight: normal;
  }

  .swiper-pagination-bullet-active {
    color:rgb(255, 41, 41);
    opacity: 1;
    font-weight: bold;
  }
  /* @media only screen and (min-width: 1024px) {
    .text-6xl {
      font-size: 6rem;
    }
  } */

  .swiper-button-next {
    position: absolute;
    top: 48% !important;
    right: 0rem !important;
  }
  .swiper-button-prev {
    position: absolute;
    top: 48% !important;
    right: 12.25rem !important;
  }


  /* Hammburger Menu */
  .button_container {
    position: fixed;
    top: 49%;
    left: 4rem;
    height: 27px;
    width: 35px;
    cursor: pointer;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }
  @media only screen and (max-width: 767px) {
  .button_container {
    top: 3rem;
    right: 2.25rem;
    left: auto;
  }
}
  .button_container:hover {
    opacity: .9;
  }
  .button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
            transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
            transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #FFF;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }

  .overlay {
    position: fixed;
    background: rgb(21,40,55);
    background: radial-gradient(circle, rgba(21,40,55,1) 0%, rgba(13,21,28,1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
            animation-delay: .50s;
  }
  .overlay nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  @media only screen and (max-width: 600px) {
  .overlay nav {
    top: 35%;
  }
}

  @media only screen and (max-width: 600px) {
  .mob-contact {
    top: 52%;
  }

}
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
  }

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }