/* Main CSS file for DXP.ae */

html { /* body won't work for Chrome, Firefox ¯\_(ツ)_/¯ */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body { /* html won't work for Safari ¯\_(ツ)_/¯ */
  scroll-snap-type: y mandatory;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('/assets/font/NunitoSans-Bold.woff2') format('woff2'),
         url('/assets/font/NunitoSans-Bold.woff') format('woff'),
         url('/assets/font/NunitoSans-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('/assets/font/NunitoSans-SemiBold.woff2') format('woff2'),
         url('/assets/font/NunitoSans-SemiBold.woff') format('woff'),
         url('/assets/font/NunitoSans-SemiBold.ttf') format('truetype');
    font-weight: semibold;
  }
  @font-face {
    font-family: 'NunitoSans-Light';
    src: url('/assets/font/NunitoSans-Light.woff2') format('woff2'),
         url('/assets/font/NunitoSans-Light.woff') format('woff'),
         url('/assets/font/NunitoSans-Light.ttf') format('truetype');
    font-weight: light;
  }

  hr {
    display: inline-block;
    height: 1px;
    width: 100px;
    border: 0;
    border-bottom: 0.1rem solid #fff;
    padding-right: 0;
  }

  nav a {
    display: inline-block;
  }

  .scroll-down a {
    overflow: hidden;
    padding: 0 4px;
    height: 1em;
  }

  .scroll-down a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  .scroll-down a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .scroll-down a:hover span,
  .scroll-down a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  @-webkit-keyframes bounce-line {
    0% {
      width: 0;
      right: auto;
      left: 0;
    }
    4% {
      width: 100%;
      right: auto;
      left: 0;
    }
    90% {
      width: 100%;
      right: 0;
      left: auto;
    }
    95% {
      width: 0;
      right: 0;
      left: auto;
    }
    100% {
      width: 0;
      right: 0;
      left: auto;
    }
  }

  @keyframes bounce-line {
    0% {
      width: 0;
      right: auto;
      left: 0;
    }
    6% {
      width: 100%;
      right: auto;
      left: 0;
    }
    87% {
      width: 100%;
      right: 0;
      left: auto;
    }
    97% {
      width: 0;
      right: 0;
      left: auto;
    }
    100% {
      width: 0;
      right: 0;
      left: auto;
    }
  }
  .slider-scroll-down {
    display: inline-block;
    padding-bottom: 0.15rem;
    width: 100px;
    position: relative;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }
  .slider-scroll-down .bounce-line {
    display: block;
    position: relative;
    width: 100px;
    height: 2px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .slider-scroll-down .bounce-line:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: bounce-line;
            animation-name: bounce-line;
  }

  .text-7xl {
    font-size: 5rem;
  }
  @media only screen and (max-width: 600px) {
    .text-7xl {
      font-size: 3.75rem;
    }
  }

  .text-8xl {
    font-size: 6.5rem;
  }
  @media only screen and (max-width: 600px) {
    .text-8xl {
      font-size: 3.75rem;
    }
  }

 .nunito-bold {
    font-family: NunitoSans-Bold;
  }
  .nunito-semibold {
    font-family: NunitoSans-SemiBold;
  }
  .nunito-light {
    font-family: NunitoSans-Light;
  }

  .bg-showreel {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .bg-gradient-light {
    background: rgb(233,238,242);
    background: linear-gradient(25deg, rgba(233,238,242,1) 0%, rgba(165,176,191,1) 100%);
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .bg-sharjah {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.25)
    ),url(/assets/img/bg-sharjah-task.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .bg-film {
    background: rgb(21,40,55);
    background: radial-gradient(circle, rgba(21,40,55,1) 0%, rgba(13,21,28,1) 100%);
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .bg-film video{
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), 0 0 80rem 0.25rem rgba(255, 255, 255, 0.25), inset 2px 2px 0 rgba(255, 255, 255, 0.25);
  }

  /* SwiperJS */
  .swiper-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .sharjah-reel {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .sharjah-reel video {
    min-height: 100vh !important;
    max-width: auto !important;
    pointer-events: none !important;
  }

  .swiper-slide video {
    min-height: 100vh !important;
    max-width: auto !important;
    pointer-events: none !important;
  }

  .swiper-pagination {
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.25rem;
    color:#fff;
    opacity: 0.5;
    font-weight: normal;
  }

  .swiper-pagination-bullet-active {
    color:rgb(255, 41, 41);
    opacity: 1;
    font-weight: bold;
  }

  .swiper-button-next {
    position: absolute;
    top: 48% !important;
    right: 0rem !important;
  }
  .swiper-button-prev {
    position: absolute;
    top: 48% !important;
    right: 12.25rem !important;
  }

  /* Hammburger Menu */
  .button_container {
    position: fixed;
    top: 49%;
    left: 4rem;
    height: 27px;
    width: 35px;
    cursor: pointer;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }
  @media only screen and (max-width: 767px) {
  .button_container {
    top: 3rem;
    right: 2.25rem;
    left: auto;
  }
}
  .button_container:hover {
    opacity: .9;
  }
  .button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
            transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
            transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #FFF;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }

  .overlay {
    position: fixed;
    background: rgb(21,40,55);
    background: radial-gradient(circle, rgba(21,40,55,1) 0%, rgba(13,21,28,1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
            animation-delay: .50s;
  }
  .overlay nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  @media only screen and (max-width: 600px) {
  .overlay nav {
    top: 35%;
  }
}

  @media only screen and (max-width: 600px) {
  .mob-contact {
    top: 52%;
  }

}
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
  }

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
.vertical-cent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
  /* Mobile Accordian */
  ul.expand {
    list-style-type: none;
    max-width: 25rem;
  }
  .expand > li {
    border-bottom: #bbbbbb solid 1px;
  }
  .expand > li label {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: .5em .5em;
  }
  .expand > li input[type="checkbox"] {
    display: none;
    width: 100%;
  }

  .expand input[type="checkbox"] + label:after {
    display: inline-block;
    position: absolute;
    right: 1em;
    top: .75em;
    height: .5em;
    width: .5em;
    border-color: #000000;
    border-width: 0 1px 1px 0;
    border-style: solid;
    transform: rotate(-45deg);
    content: "";
    transition: all 0.3s ease-in-out;
  }
  .expand input[type="checkbox"]:checked + label:after {
    margin-left: .5em;
    transform: rotate(45deg);
  }

  .expand input[type="checkbox"] ~ *:not(label),
  .whole-item input[type="checkbox"] ~ label > *:nth-child(n+2) {
    transform-origin: top;
    padding: 0 1em;
    opacity: 0;
    visibility: hidden;
    line-height: 0;
    transition: all 0.35s ease-in-out;
  }
  .expand input[type="checkbox"]:checked ~ *:not(label),
  .whole-item input[type="checkbox"]:checked ~ label > *:nth-child(n+2) {
    visibility: visible;
    opacity: 1;
    line-height:  1.2;
    padding-bottom: .5em;
  }

  /* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.showme {
  display: none;
  transition: .5s ease;
}

.showhim:hover .showme {
  display: inline-block;
  transition: .5s ease;
}